<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php">
	<filter>
		<whitelist>
			<directory>src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
	<testsuites>
		<testsuite name="">
			<directory>test/cases</directory>
		</testsuite>
	</testsuites>
</phpunit>